#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.login, .logout {
  width: 1000px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  background: url(./assets/login.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logout {
  background: url(./assets/logout.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  width: 180px;
}
